
/*Validation CSS Rules ONLY*/
 .field-validation-error{
    color: darkred;
    font: .5rem;
    display:block;
}

 .input-validation-error{
    border: 2px solid red;
 }

 .validation-summary-errors{
     font-weight:bold;
     color: orange;
 }


/*Validation CSS Rules ONLY*/
