@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html class="h-100 w-100 container-fluid p-0 m-0" lang="en-us">

<head>

	<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
	<meta charset="utf-8" />

	<title>Lotus Transformation</title>
	<script type="text/javascript" src="~/lib/jquery/jquery.min.js"></script>
	<script type="text/javascript" src="~/lib/jquery-validate/jquery.validate.min.js"></script>
	<script type="text/javascript" src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
	<script type="text/javascript" src="~/lib/jqueryui/jquery-ui.min.js"></script>
	<script type="text/javascript" src="~/js/bootstrap.js"></script>
	<script type="text/javascript" src="~/lib/react-bootstrap/react-bootstrap.min.js"></script>
	<link rel="stylesheet" href="~/CustomCss/LayoutCustom.min.css"/>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="~/CSS/SharedCustom.css" />
	<link rel="stylesheet" type="text/css" href="~/CSS/ValidationRules.css" />
	<link rel="stylesheet" type="text/css" href="~/CSS/AccountCreationForm.css" /> 
	<link rel="stylesheet" type="text/css" href="~/CSS/CSSReset.css" />

 </head>
<body>
	<header class="container-fluid bg-BethanyGreen ">
		<div class="position-absolute bg-danger start-5">Test PV</div>
		Test Texgt 5700000000000!!!!!
	</header>
	@RenderBody();
</body>