@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html class="siteBackground" lang="en-us">

<head>

	<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
	<meta charset="utf-8" />

	<title>Lotus Transformation</title>

	
	<script type="text/javascript" src="~/lib/jquery/jquery.min.js"></script>
	<script type="text/javascript" src="~/CustomJavascript/LayoutResponsiveness.js"></script>
	<link rel="stylesheet" type="text/css" href="~/CustomCss/LayoutCustom.min.css"/>
	<link rel="stylesheet" type="text/css" href="~/CSS/CSSReset.css" />

</head>
<body class="LayoutBody">
	<header class="header">

		<a asp-controller="LotusGeneral" asp-action="Home"><img class="logo" src="~/Images/Logo/R.png" /></a>
		
		<a asp-controller="LotusGeneral" asp-action="Home"><h1 class="title">LotusTransformation</h1></a>
		<a asp-controller="LotusGeneral" asp-action="Home"><h2 class="subtitle">Holistic Health and Wellness Coaching</h2></a>

		<nav class="navbar">
			<ul class="navUl">
				<a asp-controller="LotusGeneral" asp-action="Home"><li class="navLi">Home</li></a>
				<a asp-controller="LotusGeneral" asp-action="Services"><li class="navLi">Appointments</li></a>
				<a asp-controller="LotusGeneral" asp-action="Meditations"><li class="navLi">Meditations</li></a>
				<a asp-controller="LotusGeneral" asp-action="Inspiration"><li class="navLi">Inspirations</li></a>
			</ul>
		</nav>

		<a asp-controller="SignIn" asp-action="SignIn"><button class="LogInButton"> Log In/Sign Up</button></a>
	</header>
	<div class="SpecificPageContent">
		@RenderBody();
	</div>
	<footer class="footer">
		<p>&copy;LotusTransformation LLC</p>
		<p>filler</p>
		<p>filler</p>
		<p>filler</p>
	</footer>
</body>
</html>
