.PreSessionForm {
    display: grid;
    grid-template-columns: 25% 75%;
    grid-template-rows: 16.66% 16.66% 16.66% 16.66% 16.66% 16.66%;
}

.PreSessionQuestion1 {
    grid-row:1;
    grid-column: 1 / span 2;
}

.TextBoxSizer{
    width: 50rem;
}

textarea {
    width: 400px;
    height: 100px;
}